body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.color-efect{
    color: #7cfc00;
}
.color-efect2{
    color: #ffa500;
}
section{
    display: flex;
    margin-bottom: 110px;
}
.half-width{
    width: 50%;
    padding-left: 50px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(white, blue);
    padding: 10px 40px;
    border-radius: 15px;
    font-weight: 700;
    color: black;
}
.top-baner{
    background-image: url(images/shapes/Group\ 8447.png);
}
.about-me{
    background-image: url(images/shapes/7.png);
}
.midel-class{
    margin-left: 40%;
    color: rgb(49, 53, 49);
}
.midel-class2{
    margin-left: 35%;
    margin-right: 30%;
    color: grey;
}
.recipy-continar{
    display: flex;
    justify-content: space-between;
}
.recipy-item img{
    width: 100%;
    border-radius: 15px;
}
.recipy-item{
    margin: 0 15px ;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 10px 10px 30px gray;

}
.counter-containar{
    display: flex;
    justify-content: space-between;
    
}
#counter{
    box-shadow: 10px 10px 30px gray;
    width: 100%;
}
.counter-item{
    margin: 0 150px;
    text-align: center;
}
#BACK{
    text-align: center;
    padding:0 400px ;
    background-color: mediumslateblue;
}
.footer h1{
}
